
/* vertical alignment */
body{
    margin: 0px;
    background-color: rgb(202, 213, 227);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap:15px;
    background-color: rgb(202, 213, 227);
}
/* snow gif */
.snow-gif{
   margin:0px;
   padding:0px;
   width: 500px;
   height: 600px;
}
.snow-gif img{
    width: 100%;
    height: 100%;
}

/* header content */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px; 
    width: 100%;
}
.header-logo {
    width: 100%;
    max-width: 800px;
    height: auto;
    background-image: url("images/snow.gif");

}
.links {
    width: 100%;
    
}
.links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    border-radius: 20px;
    background-color: rgb(123, 159, 207);
    gap: 30px;
    max-width: 800px; 
    width: 100%;
    margin:0px;
    padding:0px;
}
.links a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 40px;
    border-radius: 20px;
    padding:0px 10px;
}
.links a:hover{
    background-color: rgb(76, 147, 240);

}
/* promotional banner */
.banner-container {
    text-align: center;
    background-image: url("images/background_banner.png");
    background-size: cover;
    border-radius: 30px;
    max-width: 800px; 
    padding: 20px;
    box-sizing: border-box;
}
.banner-container p {
    margin: 0;
    width: 100%;
    text-align: center;
    max-width: 100%;
    font-weight:bold;
}
/* informational mini banners */
.info-container{
    display: flex;
    justify-content: center;
    gap:10px;
    max-width: 800px;
}
.info-banner{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: rgb(123, 159, 207);
    border-radius: 20px;
    padding:10px 20px;
    margin: 0px;
    text-align: center;
    font-size:12px;
    
}
.info-banner img{
    width: 100%;
    height: auto;
}

.info-banner ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
}

.info-banner a{
    text-decoration: none;
    color: white;
}
.info-banner a:hover {
    border:solid white 1px;
    border-radius: 20px;
}

/* footer */
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:800px;
}
hr{
    border-color: black;
    width:800px;
    margin: 0px;
}
.footer-logo{
    height: 30px;
    width: auto;
}



/* sales page */
.sale-items{
    display: flex;
    flex-wrap: wrap;
    flex:auto;
    width: 800px;
}
.sale-item-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.sale-item-box p{
    margin:0px;
}
.sale-item-box button{
    background-color: rgb(76, 147, 240);
    border-radius: 20px;
    border:0px;
    width:50%;
}
.sale-item-box button:hover{
    background-color: rgb(123, 159, 207);

}
.item{
    width: 200px;
    height: auto;
}


/* about page */
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    gap:40px;
    flex:1;
}
.about-container img{
    width:50%;
    height: auto;
}
.ceo-intro{
    width: 50%;
    overflow-wrap: break-word;
}